:root {
    --orange: orangered;
    --tiny1-orange: rgba(255, 68, 0, 0.7);
    --tiny-orange: rgba(255, 68, 0, 0.267);
    --dark: rgb(28,29,28);
}

/* GeneralS */
li {
    list-style: none;
}

a {
    text-decoration: none !important;
}

/* Header Component */

* {
    margin: 0;
    padding: 0;
}


#header-component{
    position: sticky;
    top: 0;
    background-color: #fff;
    width: 100%;
    z-index: 2;
}

#header-header {
    padding: 0 40px;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--dark);
    width: 100%;
    position: static;
    top: 0;
}

#contacts {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    color: white;
}

.social-list {
    padding-top: 5px;
    display: flex;
    gap: 20px;
}

.header-contact {
    display: flex;
    padding-top: 5px;
    gap: 10px;
}

#header-header svg {
    color: white;
}

@media (width <=700px) {
    #header-header {
        display: grid;
    }

    .social-list {
        justify-content: center;
    }
}

#header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    background-color: rgb(256, 256, 256);
    height: 10vh;
    align-items: center;
    padding: 0 30px;
}

nav.navbar{
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 2;
}

nav > .navbar-brand {
    color: orangered;
    font-size: large;
}

nav > .navbar-brand:hover{
    color: orangered;
}

nav > .navbar-collapse {
    justify-content: end;
}

nav .nav-link {
    color: var(--tiny1-orange) !important;
    transition: color 250ms ease-in-out;
}

.nav-link:hover {
    color: rgba(255, 68, 0, 1) !important;
}

.navbar button {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}


/* Get in Touch */

#get-in-touch {
    padding: 50px 0 10px;
    color: white;
    font-family: oswald;
    position: relative;
}

#hours-location {
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(255, 68, 0, 0.6));
    height: auto;
    display: grid;
    row-gap: 70px;
    padding-top: 100px;
    position: relative;
    overflow: hidden;
}

.img-div {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, ), rgba(0, 0, 0, 1));
}

.in-touch-img {
    width: 100%;
    height: 100%;
    opacity: .2;
    transform: scale(2);
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}

#overlay-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 100px;
}

#message {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(255, 68, 0, 0.9), orangered);
    padding: 50px 50px 20px;
}


@media (width >=950px) {
    #get-in-touch {
        display: flex;
        justify-content: center;
    }

    #hours-location {
        height: auto;
        margin-top: 100px;
        flex: 1;
    }

    #message {
        flex: 1;
        padding-top: 120px;
        background-color: orangered;
    }
}

form {
    display: grid;
    row-gap: 20px;
    color: white;
    border: 0;
}

.location-hour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hour {
    padding-right: 60px;
}

.in-touch-header {
    display: grid;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}

.header-item {
    font-size: 30px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

@media (width >=450px) {
    .location-hour {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
    }
}

#message .input {
    padding: 5px 20px;
    background: rgba(255, 68, 0, .1);
    color: white;
    border: .5px solid;
}

#message .input::placeholder {
    color: white;
}

#message .input:not(textarea) {
    height: 50px;
}

#message .input:focus {
    outline: none;
}

#message button:hover {
    color: orangered;
    background-color: white;
}

/* Side Bar */
#sidebar{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

#sidebar > div{
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sidebar > div:hover {
    color: orangered;
    cursor: pointer;
    background-color: rgba(233, 233, 228, 0.3);
}



/* Back Component */
.back {
    position: fixed;
    bottom: 0;
    right: 0;
}


/* Carousel */


/* Optional: Style for the 'No images available' message */
.no_images {
    text-align: center !important;
    /* background-color: blue; */
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #555;
}


/* Form Component */

.form form {
    width: 100%;
    margin: 20px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 70px;
}

.form > form > input{
    padding: 5px 20px;
}

form > input[type=text]::placeholder{
    color: var(--dark);
}

.form input:nth-child(1){
    border-radius: 5px;
    border: 1px solid var(--dark);
    color: var(--dark);
}

.form input:nth-child(1):focus{
    outline: none;
}