:root {
    --orange: orangered;
    --tiny1-orange: rgba(255, 0, 0, 1);
    --tiny-orange: rgba(255, 68, 0, 0.267);
    --dark: rgb(28, 29, 28);
    --whyte: rgba(255, 255, 255, 1);
    --font-family: 'Courier New', Courier, monospace;
}



/* GeneralS */
li {
    list-style: none;
}

a {
    text-decoration: none !important;
}

/* Header Component */

* {
    margin: 0;
    padding: 0;
}


#header-component {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
}

#header-first-div {
    display: flex;
    background-color: var(--dark);
    justify-content: center;
    flex-wrap: wrap;
    color: white;
}

#contacts,
#socials {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-list {
    padding-top: 5px;
    display: flex;
    gap: 20px;
}


.header-contact {
    display: flex;
    padding-top: 5px;
    gap: 10px;
}

#header-header svg {
    color: white;
}

@media (width <=700px) {
    #header-header {
        display: grid;
    }

    .social-list {
        justify-content: center;
    }
}

#header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    background-color: rgb(256, 256, 256);
    height: 10vh;
    align-items: center;
    padding: 0 30px;
}

nav.navbar {
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 2;
}

nav>.navbar-brand {
    color: orangered;
    font-size: large;
}

nav>.navbar-brand:hover {
    color: orangered;
}

nav>.navbar-collapse {
    justify-content: end;
}

nav .nav-link {
    color: var(--tiny1-orange) !important;
    transition: color 250ms ease-in-out;
}

.nav-link:hover {
    color: rgba(255, 68, 0, 1) !important;
}

.navbar button {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}


/* Get in Touch */
#footer {
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
}

#get-in-touch {
    display: grid;
    justify-content: center;
    gap: 20px;
    padding: 50px 0;
}

#get-in-touch>div {
    padding: 0 20px 0 15px;

}


.nnaezi>div:nth-of-type(1) {
    font-size: 35px;
    color: white;
}

.footer-header {
    margin-bottom: 50px;
}


.nnaezi>div:nth-of-type(2) {
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
}

.nnaezi>div:nth-of-type(3) {
    color: white;
    position: relative;
}


.social-lists {
    display: flex;
    gap: 30px;
    position: relative;
    left: -40px;
}


.links .inside,
.contacts .inside {
    font-size: 18px;
    align-items: center;
    color: #ce3b3b;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 2px solid #ce3b3b;
    font-style: oblique;
}

.links-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    left: -20px;
}

.links-list li {
    width: 40%;
    color: white;
    transition: padding-left 500ms ease;
}

li a {
    color: white;
}



.links-list li:hover {
    padding-left: 20px;
}

.address>div:nth-of-type(2) p {
    margin: 0;
}

.margin-bottom {
    margin-bottom: 30px;
}

.address span {
    margin-right: 5px;
}

.mail p:nth-of-type(2) {
    text-transform: lowercase;
}

.color-white {
    color: var(--whyte) !important;
}

.footer-end {
    padding-left: 15px;
    font-size: 17px;
}

.footer-end div {
    min-width: 350px;
}

.footer-end>div:nth-of-type(1) {
    text-align: center;
    color: var(--whyte);
}

.footer-end>div:nth-of-type(2) {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: var(--whyte);
}

@media (width >=800px) {
    #get-in-touch {
        width: 85%;
        margin: auto;
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-end {
        display: flex;
        justify-content: space-between;
        width: 85%;
        margin: auto;
    }
}


/* Back Component */
.back {
    position: fixed;
    bottom: 0;
    right: 0;
}

/* Form Component */

.form {
    padding: 10px 0;
}

.form form {
    width: 100%;
    margin: 0 auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 70px;
}

.form>form>input {
    padding: 5px 20px;
}

form>input[type=text]::placeholder {
    color: var(--dark);
}

.form input:nth-child(1) {
    border-radius: 5px;
    border: 1px solid var(--dark);
    color: var(--dark);
}

.form input:nth-child(1):focus {
    outline: none;
}

/* Carousel */


/*HMPGCarousel*/
.slide{
    height: 600px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-size: cover;
}

.slider-container button.nav.default-nav{
    display: none;
}

#caro.slide img{
    width: 100%;
    height: 100%;
}

/* Loading */
.loading{
    width: 100%;
    height: 83vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.roll{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-left: 5px solid #ce3b3b;
    border-top: 5px solid white;
    border-right: 5px solid #ce3b3b;
    border-bottom: 5px solid white;
    animation: rotate 2s linear infinite;
    position: absolute;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}