@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#root {
    background-image: url('/porsche.jpg');
    background-size: cover;
    text-transform: capitalize;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh
}


/* Listing Page */
.listing {
    padding-bottom: 20px;
}

#listing {
    position: sticky;
    margin: 10px;
}

.cars {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
}

.cars #card {
    width: 18rem;
    text-align: center;
    height: 400px;
}

div.card-body * {
    margin-bottom: 1px;
    color: var(--dark);
}

.card-body {
    color: var(--dark);
}

.view-btn {
    transition: background-color ease-in 10ms;
    background: var(--dark);
    border: none;
}

.view-btn:hover {
    background-color: var(--orange) !important;
}

div.accordion {
    display: none;
}

div.accordion-item {
    border: 1px solid var(--dark);
}

div.accordion h2>.accordion-button {
    color: var(--dark);
    background-color: white;
}


.accordion-button:focus {
    box-shadow: 0 0 0 0.05rem var(--dark) !important;
    background-color: white;

}

.inner-component {
    position: sticky;
    top: 45px;
    width: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, .9);
}

.inner-component .company {
    color: var(--dark);
}

.inner-accordion-item {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.inner-accordion-item * {
    transition: color 200ms ease-in;
}

.inner-accordion-item *:hover {
    cursor: pointer;
    color: orangered;
}

#sidebar{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin: auto;
}


/* Contact */
.contact {
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contact>.contact-word {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: .9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 0;
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .5));
}

.contact-word>div {
    row-gap: 20px;
    animation-name: show;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 700ms;
    will-change: transform;
}

@keyframes show {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.contact>img {
    transform: scale(2);

}

.contact-us {
    font-size: 40px;
    font-weight: 400;
}


.contact .contact-us,
.contact .long-word {
    width: 80%;
    margin: auto;
}

#map {
    display: flex;
    align-items: center;
    justify-content: center;
}

.move {
    animation: show 700ms linear 1 forwards;
    will-change: transform;
}


/* Homepage Component */
.slider-container{
    width: 100%;
    height: 600px;
    margin: 0 auto;
}

.service {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

.maintenance {
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    font-weight: 600;
}


.nnaezi {
    font-size: 20px;
    font-weight: 400;
}

.text-center {
    margin-top: 50px;
}

.our-services {
    width: 100%;
    min-height: 500px;
    padding-top: 50px;
    text-align: center;
    background-color: rgba(239, 234, 234, 0.4);
}

.services-header {
    width: 90%;
    margin: 50px auto;
}

.auto-repair {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 500;
    color: #fff;
}

.wide-range {
    font-size: 28px;
    color: var(--tiny1-orange);
}

.services-body {
    display: grid;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.services-body p:nth-of-type(1) {
    color: #ce3b3b;
    font-size: 25px;
    font-weight: 500;
}

.services-body p:nth-last-of-type(1) {
    font-size: 20px;
    font-weight: 400;
    color: var(--whyte);
}

.services-body .services {
    opacity: 0;
    transition: 600ms ease-in-out;
    transform: translateY(50px);
}

.services-body .show {
    opacity: 1;
    transform: translateY(0);

}

.services-body img {
    width: 150px;
    transition: scale, 250ms ease-in-out;
}

.services-body img:hover {
    transform: scale(1.3);
}


.our-products {
    width: 100%;
    text-align: center;
    position: relative;
    background-image: url('/bmw-half.jpg');
    background-position: center;
}

.our-products-inner-div {
    width: 90%;
    height: auto;
    margin: auto;
    background-color: rgba(0, 0, 0, .8);
    padding: 20px 0 50px;

}


.product-header .service {
    margin-top: 60px;
    font-weight: 600;
    font-size: 40px;
    color: var(--whyte);
}


.inventory {
    height: 650px;
    background-color: rgba(0, 0, 0, .5);
    padding-bottom: 20px;
    max-width: 400px;
}

.inventory img {
    width: 98%;
    height: 60%;
    border-radius: 20px;
    margin-bottom: 40px;
}

.inventory img:hover {
    transform: scale(1.05);
}

.text-center .btn.btn-lg.btn-outline-danger {
    color: var(--tiny1-orange);
    border-color: var(--tiny1-orange);
    transition: background-color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}

.text-center .btn.btn-lg.btn-outline-danger:hover {
    color: var(--whyte);
    background-color: var(--tiny1-orange);
}



/* About Page */
.about-top {
    position: relative;
    overflow: hidden;
    width: 100%;
    animation: show-about-top 1000ms linear 1 forwards;
    font-family: Roboto;
}

@keyframes show-about-top {
    0% {
        opacity: 0;
        min-height: 0;
    }

    100% {
        opacity: 1;
        min-height: 300px;
        padding: 40px 0;
    }
}


.about-top-inner-2>div>div:nth-child(1) {
    font-size: 70px;
    text-transform: uppercase;
    color: white;
    margin-left: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-div-2{
    width: 100vw;
    background-color: #fff;
}


.about-div-2 > div{
    width: 90vw;
    padding: 100px 0;
    display: grid;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.about-div-2 #overview, .about-div-2 #philosophy{
    display: grid;
}

.overview-inner-1 p, .about-ul > li{
    text-transform: none;
}

.about-img{
    width: 100%;
    height: 500px;
    object-fit: contain;
}

.about-ul{
    position: relative;
    left: -35px;
}
.about-span{
    margin-right: 10px;
}



.about-ul > li{
    margin-bottom: 20px;
}

.overview-header, .philosophy-header{
    color: var(--orange);
    font-weight: 900;
    font-family: 'Oswald', 'sans-serif';
    font-size: 20px;
    transform: scaleY(1.2);
    margin-bottom: 20px;
    
}


.about-div-3 {
    width: 100%;
    background: linear-gradient(orange, orangered);
    padding: 20px 0;
}

.our-team {
    font-size: 50px;
    padding: 50px;
    text-align: center;
    text-transform: uppercase;
}

.people {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    overflow: hidden;
}

.people .human {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    transform: translateX(50px);
    transition: all 500ms ease-in-out;
}

.people .show {
    opacity: 1;
    transform: translateX(0);
}


.human-img {
    width: 300px;
    height: 300px;
}

.human>div:nth-child(2) {
    text-align: center;
}

.human>div:nth-child(2)>p:nth-child(1) {
    font-size: 20px;
    font-weight: 900;
}


@keyframes aboutpage-show-top {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}



/* Detials Page */
#detail {
    width: 80%;
    margin: auto;
    background-color: white;
}


#detail .carousel {
    width: 100%;
}

#detail .carousel.slide {
    object-fit: cover;
    padding: 10px 0;
}

#car_info {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 150px));
    justify-content: center;
    padding: 70px 0 20px;
}

.carousel-img{
    height: 100%;
}

#car_info>div {
    display: grid;
    padding-bottom: 20px;

}


#car_info>div>p {
    margin: 0;
}

#car_info>div>p:nth-child(2) {
    font-style: italic;
}


/* Not Found */
.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: white;
    text-align: center;
    text-transform: capitalize;

}


/* @media */
@media (width <=500px) {
    .about-top-inner-2>div {
        width: 100%;
    }

    .about-top-inner-2>div>div:nth-child(1) {
        font-size: 40px;
        display: flex;
        justify-content: center;
    }

    .about-top-inner-2>div>div:nth-child(2) {
        display: flex;
        justify-content: center;
        padding: 0 4px;
        width: 100% !important;
    }

    .about-div-2 {
        padding: 50px 10px;
    }

    .about-div-2 div {
        width: 100% !important;
        margin: 0;
        padding: 0;
    }

    .about-div-2>div P {
        width: 100%;
    }
}



@media (max-width: 600px) {
    .cars #card {
        width: 10rem;
        text-align: center;
        height: 400px;
    }

    .inner-accordion-item .company {
        color: orangered;
    }

    .accordion-header button.collapse {
        color: orangered !important;
    }
}


@media (width <= 700px) {
    .our-products-inner-div{
        width: 100% !important;
    }
}



@media (width > 750px) {
    .contact .long-word {
        width: 70%;
        margin: auto;
    }

}


@media (max-width: 800px) {
    div.accordion {
        display: block;
        padding: 0 20px;
    }

    #sidebar.sidebar,
    .form {
        display: none !important;
    }

    .inner-component {
        padding: 20px;
    }

    #detail {
        width: 100%;
    }
}



@media (width >=850px) {
    .services-body {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .third-on-grid img {
        width: 115px;
    }
}


@media (min-width: 900px) {
    .about-div-2 #overview, .about-div-2 #philosophy{
        grid-template-columns: repeat(6, 1fr);
        gap: 50px;
    }

    .overview-inner-1{
        grid-column: 1 / span 4;
    }

    .philosophy-inner-1{
        grid-column: 3 / -1;
    }

    .philosophy-inner-2{
        grid-column: 1 / 3;
        grid-row: 1;
    }

}



@media (width <=950px) {
    .about-top-inner-2>div>div:nth-child(2) {
        width: 90%;
        margin-left: 0 !important;
    }

    .people {
        display: grid;
    }
}