/* Listing Page */
.listing{
    padding-bottom: 20px;
}

#listing{
    position: sticky;
    margin: 10px;
}

.cars{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
}

.cars #card{
    width: 18rem;
    text-align: center;
    height: 400px;
}

div.card-body *{
    margin-bottom: 1px;
    color: var(--dark);
}

.card-body{
    color: var(--dark);
}

.view-btn{
    transition: background-color ease-in 10ms;
    background: var(--dark);
    border: none;
}

.view-btn:hover{
    background-color: var(--orange) !important;
}

div.accordion{
    display: none;
}

div.accordion-item
{
    border: 1px solid var(--dark);
}

div.accordion h2 > .accordion-button{
    color: var(--dark);
    background-color: white;
}


.accordion-button:focus{
    box-shadow: 0 0 0 0.05rem var(--dark);
    background-color: white;

}

.inner-component{
    position: sticky;
    top: 45px;
    width: 100%;
    z-index: 1;
    background-color: #fff;
}

.inner-component .company{
    color: var(--dark);
}

.inner-accordion-item{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.inner-accordion-item *{
    transition: color 200ms ease-in;
}

.inner-accordion-item *:hover{
    cursor: pointer;
    color: orangered;
}

@media (width <= 800px) {
    div.accordion{
        display: block;
        padding: 0 20px;
    }
    #sidebar, .form{
        display: none;
    }

    .inner-component{
        padding: 20px;
    }
}

@media (width <= 600px) {
    .cars #card{
        width: 10rem;
        text-align: center;
        height: 400px;
    }

    .inner-accordion-item .company{
        color: orangered;
    }  
    
    .accordion-header button.collapse{
        color: orangered !important;
    }
}

/* Contact */
.contact
{
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0,0,0,1));
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contact > .contact-word{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: .9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 0;
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0,0,0,.5));
}

.contact-word > div{
    row-gap: 20px;
    animation-name: show;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 700ms;
    will-change: transform;
}

@keyframes show {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.contact > img{
    transform: scale(2);

}

.contact-us{
    font-size: 40px;
    font-weight: 400;
}


.contact .contact-us, .contact .long-word{
    width: 80%;
    margin: auto;
}

#map{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (width > 750px) {
    .contact .long-word{
        width: 70%;
        margin: auto;
    }
    
}

.move
{
    animation-name: show;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 700ms;
    will-change: transform;
}


/* Homepage Component */
.homepage{
    height: 80vh;
    background-image: url('../src/assets/porsche.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    color: var(--whyte)
}

.homepage > div{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .4);
}

.service{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

.maintenance{
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    font-weight: 600;
}


.nnaezi{
    font-size: 25px;
    font-weight: 400;
}

.text-center{
    margin-top: 50px;
}

.our-services{
    width: 100%;
    min-height: 500px;
    padding-top: 50px;
    text-align: center;
}

.services-header{
    width: 90%;
    margin: 50px auto;
}

.auto-repair{
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 500;
}

.wide-range{
    font-size: 28px;
    color: var(--tiny1-orange);
}

.services-body{
    display: grid;
    padding: 20px;
}

.services-body p:nth-last-of-type(2){
    color: var(--tiny1-orange);
    font-size: 25px;
    font-weight: 500;
}

.services-body p:nth-last-of-type(1){
    font-size: 20px;
    font-weight: 400;
    color: grey;
}

.services-body .services{
    opacity: 0;
    transition: 600ms ease-in-out;
    transform: translateY(50px);
}

.services-body .show{
    opacity: 1;
    transform: translateY(0);

}

.services-body img{
    width: 150px;
    transition: scale, 250ms ease-in-out;
}

.services-body img:hover{
    transform: scale(1.3);
}


@media (width >= 450px) {
    .services-body{
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .third-on-grid img{
        width: 115px;
    }
}

.our-products{
    width: 100%;
    text-align: center;
    position: relative;
    background-image: url('../src/assets/bmw-half.jpg');
    background-position: center;
}

.our-products-inner-div{
    width: 90%;
    height: auto;
    margin: auto;
    background-color: rgba(0, 0, 0, .8);
    padding: 20px 0 50px;

}


.product-header .service{
    margin-top: 60px;
    font-weight: 600;
    font-size: 40px;
    color: var(--whyte);
}


.inventory{
    height: 500px;
    background-color: rgba(0, 0, 0, .5);
    padding-bottom: 20px;
}

.inventory img{
    width: 100%;
    height: 60%;
    border-radius: 10px;
}

.inventory img:hover{
    transform: scale(1.05);
}



/* Detail Page */
#detail{
    padding-top: 20px;
    background-color: #fff;
}

#car_info{
    padding: 10px 10px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(143px, 1fr));
    justify-content: center;
    width: 100%;
    gap: 10px;
}

#car_info > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
}

#car_info > div *{
    margin: 0;
}

@media (width >= 700px) {
    #detail{
        width: 100%;
        height: 83lvh;
    }
}

/* About Page */
.about-top{
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 500px;
}

.about-top-inner-1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about-top-inner-1 img{
    transform: scale(2);
}

.about-top-inner-2{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .6)), 
        linear-gradient(to right, rgba(0,0,0,.6), rgba(0,0,0,.1));
}

.about-top-inner-2 > div{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    margin-top: 80px;
    gap: 50px;
}

.about-top-inner-2 > div > div:nth-child(1){
    font-size: 70px;
    text-transform: uppercase;
    color: white;
    margin-left: 0;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 1s;
}


.about-top-inner-2 > div > div:nth-child(2){
    width: 90%;
    color: white;
    line-height: 2;
    opacity: 0;
    animation-name: aboutpage-move-right;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
}


.about-div-2{
width: 100%;
padding: 100px 100px;
display: grid;
gap: 50px;
align-items: center;
justify-content: center;
}

.about-div-2 > div:nth-child(1)
{
    text-align: center;
    font-size: 40px;
    width: 80%;
    margin: auto;
}

.about-div-2 > div:nth-child(2){
    margin-bottom: 100px;
    display: grid;
    gap: 50px;
    width: 80%;
    margin: auto;
}

.about-div-2 > div:nth-child(2) p{
    text-align: center;
    width: 90%;
    margin: auto;
    font-size: 20px;
    color: rgb(49, 47, 47);
}


.about-div-3{
    width: 100%;
    background: linear-gradient(orange, orangered);
}

.our-team{
    font-size: 50px;
    padding: 50px;
    text-align: center;
    text-transform: uppercase;
}

.people{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
}

.image{
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.human{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
}

.human-img{
    width: 300px;
    height: 300px;
}

.human > div:nth-child(2){
    text-align: center;
}

.human > div:nth-child(2) > p:nth-child(1){
    font-size: 20px;
    font-weight: 900;
}

@media (width <= 500px) {
    .about-top-inner-2 > div{
        width: 100%;
    }

    .about-top-inner-2 > div     > div:nth-child(1){
        font-size: 40px;
        display: flex;
        justify-content: center;
    }

    .about-top-inner-2 > div > div:nth-child(2){
        display: flex;
        justify-content: center;
        padding: 0 4px;
        width: 100% !important;
    }

    .about-div-2{
        padding: 10px 10px;
    }

    .about-div-2 > div{
        width: 100% !important;
        margin: 0;
        padding: 0;
    }

    .about-div-2 > div P{
        width: 100%;
    }
}
@media (width <= 950px){
    .about-top-inner-2 > div > div:nth-child(2){
        width: 90%;
        margin-left: 0 !important;
    }
    .people{
        display: grid;
    }
}

@keyframes aboutpage-move-right{
    0%{
        opacity: 0;
        margin-left: 0;
    }
    50%{
        opacity: .5;
        margin-left: 5em;
    }
    100%{
        opacity: 1;
        margin-left: 10em;
    }
}

@keyframes aboutpage-move-left{
    0%{
        opacity: 0;
        margin-left: 0;
    }
    50%{
        opacity: .5;
        margin-left: 2.5em;
    }
    100%{
        opacity: 1;
        margin-left: 4em;
    }
}

@keyframes aboutpage-move-left{
    0%{
        opacity: 1;
        margin-left: 0;
    }

    50%{
        opacity: 1;
        margin-left: 2em;
    }
    100%{
        opacity: 1;
        margin-left: 0;
    }
}